.Contact {
    width: 100%;
    margin: 26px auto;
    box-shadow: 0 2px 3px #A45D29;
    padding: 100px;
    text-align: center;
}

.Contact-img {
    background-image: url('https://i.imgur.com/65ecJEb.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -400px;
}