
.Project-card {
    background-color: #D8DEE0;
    width: 400px;
    display: inline-block;
    padding: 10px;
}

.Project {
    margin: 26px auto;
    box-shadow: 0 2px 3px #AF8D86;
    padding: 100px;
    text-align: center;
    color: #292928;
    background-color: rgb(228, 234, 236);
    font-family: 'Philosopher', sans-serif;
}

.Project-img {
    
}
